@using System.Web.UI.WebControls
@model DGTWebSite.Models.PB
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<ul>
    @for (int i = 0; i < Model.Number; i++)
    {
        <li>@Html.DisplayTextFor(model => model.Name)</li>
    }
</ul>

