<div>
    <h1>Hur går det till</h1>
</div>

<div>
    <h3>Deltagare</h3>

    <p>
        Deltagare på DGT måste ha löst svensk licens för 2015
        samt ha ett aktivt PDGA-medlemskap där man har som lägst 930 i rating.
        Om du har deltagit i en tävling på DGT 2015 och därefter sjunker i rating under 930
        får du ändå vara med på kommande deltävlingar under samma år.
    </p>

    <h3>Tävlingsformat</h3>
    <p>
        <dl class="dl-horizontal">
            <dt>Format</dt>
            <dd>Samtddga tävddngar spelas över 2x18 hål</dd>
            <dt>Antal deltagare</dt>
            <dd>72</dd>
            <dt>WC</dt>
            <dd>20</dd>
            <dt>Anmälningsavgift</dt>
            <dd>200 kr</dd>
            <dt>Registrering</dt>
            <dd>8:30-9:15</dd>
            <dt>Spelarmöte</dt>
            <dd>9:30</dd>
            <dt>Start runda 1</dt>
            <dd>10:00</dd>
            <dt>Start runda 2</dt>
            <dd>14:00</dd>
            <dt>Priscermoni</dt>
            <dd>efter avslutad tävling ca 16:45</dd>
            <dt>Tävlingen avslutad</dt>
            <dd>17:00</dd>
            <dt>Startsignal></dt>
            <dd>Både två minuters slut på övningskast och själva starten av rundan görs på klocka.</dd>
            <dt>Särspel</dt>
            <dd>om seger. Hål anslås innan tävddng.</dd>
        </dl>
    </p>
</div>
