@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Discgolftouren</h1>
</div>
<div class="row">
    <div class="col-md-5">
        <h3>Om</h3>
        <p>
            Discgolftouren startas år 2015 och är en serie endagarstävlingar som spelas i Stockholm med omnejd&nbsp;&nbsp;
        </p>
        <p>
            Discgolftouren arrangeras i sammarbete med de klubbar som är knutna till spelpatserna
            där klubben står för banan och Discgolftouren för arrangemanget.
        </p>
        <p>
            Då det under några säsonger blivit allt svårare att få en plats på tävlingar
            t.ex. Nationella touren, SM har Discgolftouren som syfte att hjälpa sporten att växa
            med ett tävlingsupplägg där det endast finns en klass och med ett rating minimikrav för att få deltaga.
        </p>
        <h3>Deltagare</h3>

        <p>
            Deltagare på DGT måste ha löst svensk licens för 2015
            samt ha ett aktivt PDGA-medlemskap där man har som lägst 930 i rating.
            Om du har deltagit i en tävling på DGT 2015 och därefter sjunker i rating under 930
            får du ändå vara med på kommande deltävlingar under samma år.
        </p>
   </div>
    <div class="col-md-5">
        <p>
            <dl class="dl-horizontal">
                <dd><h3>Tävlingsformat</h3></dd>
                <dt>Format</dt>
                <dd>Samtliga tävlingar spelas över 2x18 hål</dd>
                <dt>Antal deltagare</dt>
                <dd>72</dd>
                <dt>WC</dt>
                <dd>20</dd>
                <dt>Anmälningsavgift</dt>
                <dd>200 kr</dd>
                <dt>Registrering</dt>
                <dd>8:30-9:15</dd>
                <dt>Spelarmöte</dt>
                <dd>9:30</dd>
                <dt>Start runda 1</dt>
                <dd>10:00</dd>
                <dt>Start runda 2</dt>
                <dd>14:00</dd>
                <dt>Priscermoni</dt>
                <dd>efter avslutad tävling ca 16:45</dd>
                <dt>Tävlingen avslutad</dt>
                <dd>17:00</dd>
                <dt>Startsignal</dt>
                <dd>Både två minuters slut på övningskast och själva starten av rundan görs på klocka.</dd>
                <dt>Särspel</dt>
                <dd>om seger. Hål anslås innan tävddng.</dd>
            </dl>
        </p>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default" href="/Discgolftouren/Tornaments">
            <strong>Tävlingar</strong>
        </a>
        <div class="list-group">
            <a class="list-group-item" href="/Tournaments/Tournament/1">25/4 Ultuna</a>
            <a class="list-group-item" href="/Tournaments/Tournament/2">17/5 Visättra</a>
            <a class="list-group-item" href="/Tournaments/Tournament/3">25/7 Eskilstuna</a>
            <a class="list-group-item" href="/Tournaments/Tournament/4">15/8 Lillsjön</a>
            <a class="list-group-item" href="/Tournaments/Tournament/5">29/8 Åkersberga</a>
        </div>

        @*<div class="alert alert-danger alert-error">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong> A problem has been occurred while submitting your data.
            </div>*@
    </div>
</div>
