@model DGTMVC4.Models.CompetitionsViewModel

<div class="row">
    <div class="col-md-4">
        <h1 style="font-weight: bold; font-family: Tahoma; font-size: 45px">Discgolftouren</h1>
    </div>
    <div class="col-md-5">
        <center><a href="http://www.innovastore.net/?currency=SEK" target="_blank"><img src="~/Resources/Innovalogo400x160.jpg" width="220" height="88" style="margin-top: 20px" /></a></center>
    </div>
    <div class="col-md-3">
        <a href="http://www.discgolfpark.net/sv/hem/" target="_blank"><img src="~/Resources/DiscGolfPark_logo_300pix.jpg" style="margin-top: 10px" /></a> 
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Om</h3>
        <p>
            Discgolftouren startades år 2015 och är en serie endagarstävlingar som spelas i Stockholm med omnejd&nbsp;&nbsp;
        </p>
        <p>
            Discgolftouren arrangeras i sammarbete med de klubbar som är knutna till spelpatserna.
            Klubben står för att banan är i bra skick och Discgolftouren för arrangemanget.
        </p>
        <p>
            Då det under några säsonger blivit allt svårare att få en plats på tävlingar
            t.ex. Nationella touren och SM har Discgolftouren som syfte att hjälpa sporten att växa
            med ett tävlingsupplägg där det endast finns en klass och med ett rating minimikrav för att få deltaga.
        </p>
        <h3>Deltagare</h3>

        <p>
            Deltagare på DGT måste ha ett aktivt PDGA-medlemskap där man har som lägst 920 i rating.
        </p>
        <p>
            Svenska spelare skall ha löst svensk licens för innevarande år.
        </p>
        <p>
            Om du har deltagit i en tävling på Discgolftouren och därefter sjunker i rating under 920
            får du ändå vara med på kommande deltävlingar under samma år.
        </p>
    </div>
    <div class="col-md-5">
        <p>
            <h3>Format</h3>
            <table class="table table-striped">
                <tr>
                    <td>Antal hål</td>
                    <td>2x18 hål</td>
                </tr>
                <tr>
                    <td>Antal deltagare</td>
                    <td>72</td>
                </tr>
                <tr>
                    <td>WC</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Anmälningsavgift</td>
                    <td>200 kr</td>
                </tr>
                <tr>
                    <td>Greenfee</td>
                    <td>dagkort på banan</td>
                </tr>
                <tr>
                    <td>Registrering</td>
                    <td>8:30-9:15</td>
                </tr>
                <tr>
                    <td>Spelarmöte</td>
                    <td>9:30</td>
                </tr>
                <tr>
                    <td>Start runda 1</td>
                    <td>10:00</td>
                </tr>
                <tr>
                    <td>Start runda 2</td>
                    <td>14:30</td>
                </tr>
                <tr>
                    <td>Priscermoni</td>
                    <td>efter avslutad tävling ca 17:00</td>
                </tr>
                <tr>
                    <td>Startsignal</td>
                    <td>Både två minuters slut på övningskast och själva starten av rundan görs på klocka.</td>
                </tr>
                <tr>
                    <td>Särspel</td>
                    <td>Endast om seger. Hål anslås innan tävling.</td>
                </tr>
                <tr>
                    <td>Totalställningen</td>
                    <td>De fyra bästa resultaten räknas in i totalställningen.</td>
                </tr>
            </table>
        </p>
    </div>
    <div class="col-md-3">
        <h3>Tävlingar</h3>
        <div class="list-group">
            @foreach (var comp in Model.Competitions)
            {
                <a class="list-group-item" href="/Tournaments/Tournament/@comp.Id">@string.Format("{0} {1}", DGTMVC4.Helpers.FormatHelper.GetDayMonth(comp.Date), comp.Name)</a>
            }
        </div>

        <h3>Sponsorer</h3>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 60px; ">
            <!-- Indicators -->
            @*<ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>*@

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="http://www.prodigydisc.eu/#!homese/cv4z" target="_blank"><img src="~/Resources/prodigy2.png" alt="Chania" style="display: block; margin-left: auto; margin-right: auto; height: 60px; width: 150px" /></a>
                </div>

                <div class="item">
                    <a href="http://www.footway.se" target="_blank"><img src="~/Resources/footway.png" alt="Chania" style="display: block; margin-left: auto; margin-right: auto; height: 60px; width: 150px" /></a>
                </div>

                <div class="item">
                    <a href="http://www.kastaplast.se/" target="_blank"><img src="~/Resources/kastaplast.jpg" alt="Flower" style="display: block; margin-left: auto; margin-right: auto; height: 60px; width: 60px; " /></a>
                </div>

                <div class="item">
                    <a href="http://www.footway.se/outlet" target="_blank"><img src="~/Resources/footwayoutlet.png" alt="Chania" style="display: block; margin-left: auto; margin-right: auto; height: 60px; width: 150px; " /></a>
                </div>


            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
@*                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>*@
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  @*              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>*@
                <span class="sr-only">Next</span>
            </a>
        </div>

        @*<div class="alert alert-danger alert-error">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong> A problem has been occurred while submitting your data.
            </div>*@
    </div>
</div>
