@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Discgolftouren</h1>

    <p class="lead">Välkommen till Discgolftouren 2015</p>

    <div class="row">
        <div class="col-md-4">
            <h2>Om</h2>
            <p class="lead">
                Discgolftouren startas år 2015 och är en serie endagarstävlingar som spelas i Stockholm med omnejd&nbsp;&nbsp;
                <a class="btn btn-default" href="/Discgolftouren/Om">Om &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Hur</h2>
            <p class="lead">
                Discgolttouren består av 5 endagstävlingar med formatet 2 x 18 hål för alla deltagare&nbsp;&nbsp;
                <a class="btn btn-default" href="/Discgolftouren/Hur">Hur &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Tävlingar</h2>
            <p><a class="btn btn-default" href="/Tournaments/Tournament/1">2015-04-25 Ultuna &raquo;</a></p>
            <p><a class="btn btn-default" href="/Tournaments/Tournament/2">2015-05-17 Visättra &raquo;</a></p>
            <p><a class="btn btn-default" href="/Tournaments/Tournament/3">2015-07-25 Eskilstuna &raquo;</a></p>
            <p><a class="btn btn-default" href="/Tournaments/Tournament/4">2015-08-15 Lillsjön &raquo;</a></p>
            <p><a class="btn btn-default" href="/Tournaments/Tournament/5">2015-08-29 Åkersberga &raquo;</a></p>
        </div>
    </div>
</div>