@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Discgolftouren</h1>

    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-default" href="/Discgolftouren/Om">
                <strong>Om</strong>
            </a>
            <p class="lead">
                Discgolftouren startas år 2015 och är en serie endagarstävlingar som spelas i Stockholm med omnejd&nbsp;&nbsp;
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default" href="/Discgolftouren/Hur">
                <strong>Hur</strong>
            </a>
            <p class="lead">
                Discgolttouren består av 5 endagstävlingar med formatet 2 x 18 hål för alla deltagare&nbsp;&nbsp;
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default" href="/Discgolftouren/Tornaments">
                <strong>Tävlingar</strong>
            </a>
            <div class="list-group">
                <a class="list-group-item" href="/Tournaments/Tournament/1">2015-04-25 Ultuna &raquo;</a>
                <a class="list-group-item" href="/Tournaments/Tournament/2">2015-05-17 Visättra &raquo;</a>
                <a class="list-group-item" href="/Tournaments/Tournament/3">2015-07-25 Eskilstuna &raquo;</a>
                <a class="list-group-item" href="/Tournaments/Tournament/4">2015-08-15 Lillsjön &raquo;</a>
                <a class="list-group-item" href="/Tournaments/Tournament/5">2015-08-29 Åkersberga &raquo;</a>
            </div>

            @*<div class="alert alert-danger alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong> A problem has been occurred while submitting your data.
                </div>*@
        </div>
    </div>
</div>