@{
    ViewBag.Title = "Om";
}

<div class="jumbotron">
    <h1>Om</h1>
    <div class="row">

        <div class="col-md-4">

            <p>Discgolftouren startas år 2015 och är en serie endagarstävlingar som spelas i Stockholm med omnejd.</p>

            <p>
                Discgolftouren arrangeras i sammarbete med de klubbar som är knutna till spelpatserna
                där klubben står för banan och Discgolftouren för arrangemanget.
            </p>
        </div>
        <div class="col-md-4">

            <p>
                Då det under några säsonger blivit allt svårare att få en plats på tävlingar
                t.ex. Nationella touren, SM har Discgolftouren som syfte att hjälpa sporten att växa
                med ett tävlingsupplägg där det endast finns en klass och med ett rating minimikrav för att få deltaga.
            </p>
        </div>
        <div class="col-md-4">
            <p>Formatet är 2 x 18 hål med 4 grupper vilket ger en möjlighet till en tävling med rimliga tider och ett bra speltempo.</p>

            <p>
                Detta första år så består touren av fem deltävlingar. De fyra bästa resultaten räknas
                med i totalen och avgör placeringarna. Spelplatser är Ultuna (25/4), Visättra (17/5), Eskilstuna (25/7), Lillsjön (15/8), Åkersberga (29/8)
            </p>
        </div>
    </div>
</div>

