@{
    ViewBag.Title = "Tävling";
}
<div class="jumbotron">

    <h1>Tävling</h1>
    <p>@ViewBag.Message</p>
    <p>Datum och namn</p>
    <p>Länk till anmälan</p>
    <p>Tid och Samlingsplats</p>
    <p>Banbeskrivning</p>
</div>